@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");

/* General body styling */
body {
  font-family: 'Roboto', sans-serif;
  color: #212529;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Maven Pro", sans-serif;
}

/* Navigation */
nav {
  padding: 12px 0 !important;
}

/* Highlight action buttons by increasing their font weight */
.btn {
  &.btn-default.action-button,
  &.shiny-download-link {
    font-weight: 800;
  }
}

/* Apply custom scrollbar styling only to the body */
body::-webkit-scrollbar {
  display: none;
}

/* Remove horizontal scroll for specific containers */
body,
.container-fluid,
.row,
#map_module-html_panel,
div[role="listbox"] {
  overflow-x: hidden;
}

.selector-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selector-text {
  margin-right: 10px;
}

.card-header {
  border-bottom: none;
}

.title {
  font-size: medium;
}

button {
  color: #a5a5a5;
}

.subtext {
  font-size: small;
  color: #a5a5a5;
}

/* Container styling */
.container {
  width: 400px;
  height: 500px;
  border: 1px solid #ccc;
  overflow-y: auto;
}

/* Header styling */
.header {
  background-color: #ffffff;
  padding: 5px;
  position: sticky;
  top: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  z-index: 10;

  button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
}

/* Occurrence styling */
.occurrence {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 20px;
  }

  a {
    color: #0073e6;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.field {
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

/* HTML panel styling -*/
/* TODO: Avoid hard coding of the ns! -*/
#map_module-html_panel {
  opacity: 0.45;
  transition: opacity 0.3s;
  background-color: white;
  padding: 10px;
  z-index: 5;
  overflow-y: scroll;
  top: 15px;
  right: 12px;
  width: 29%;
  height: 610px;

  &:hover {
    opacity: 1;
  }
}

/* Customize scrollbar for #html_panel */
#map_module-html_panel {
  &::-webkit-scrollbar {
    width: 10px;
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;

    &:hover {
      background: #555;
    }
  }
}

/* Adjust plot placeholder height */
.bg-light.no-data {
  height: 380px;
}

/* Custom title styling */
.custom-title {
  text-align: center;
  width: 100%;
  font-size: 24px;
  color: #0199f9;
  font-weight: bold;
}

/* CSS loader for shinyalert */
.cssload-loader {
  width: 550px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size:18px;
  color: #0275D8;
  letter-spacing: 0.2em;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: #0275D8;
    position: absolute;
    animation: cssload-load 0.81s infinite alternate ease-in-out;
    -o-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -ms-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -webkit-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -moz-animation: cssload-load 0.81s infinite alternate ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@keyframes cssload-load {
  0% {
    left: 0;
    height: 9px;
    width: 350px;
  }
  50% {
    height: 9px;
    width: 350px;
  }
  100% {
    left: 229px;
    height: 9px;
    width: 350px;
  }
}

@-o-keyframes cssload-load {
  0% {
    left: 0;
    height: 29px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 39px;
  }
  100% {
    left: 229px;
    height: 29px;
    width: 15px;
  }
}
       
@-ms-keyframes cssload-load {
  0% {
    left: 0;
    height: 29px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 39px;
  }
  100% {
    left: 229px;
    height: 29px;
    width: 15px;
  }
}
       
@-webkit-keyframes cssload-load {
  0% {
    left: 0;
    height: 29px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 39px;
  }
  100% {
    left: 229px;
    height: 29px;
    width: 15px;
  }
}
       
@-moz-keyframes cssload-load {
  0% {
    left: 0;
    height: 29px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 39px;
  }
  100% {
    left: 229px;
    height: 29px;
    width: 15px;
  }
}

/* Adjust The bar plot and the line plot Texts */
.plot_text {
  padding-bottom: 40px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Adjust "Number of species occurrences in the filtered data" Text */
.num-occurrences-note {
  padding-top: 20px;
}
.n_occurence-text {
  color: #0199f9;
}

/* Switch the positions of the download button and the data table filter */
#table_module-download_data {
  float: right !important; /* TODO: Avoid hard coding of the ns! -*/
}
.dataTables_filter {
  float: left !important;
}

/* Customize the appearance of The SelectInput's dropdown menu */
.bootstrap-select {
  .dropdown-menu {
    width: 100% !important;
  }
  
  .dropdown-menu li a span.text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
  }
}
